<div><%= @user_name %> 様</div>

<div>+:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:+</div>
<p><%= @pair_user_name %> 様とメッセージ交換ができるようになりました！</p>
<div>+:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:+</div>

<p>早速メッセージを送ってみましょう。</p>
<p>☆すぐにメッセージを送ると返信率がアップします！</p>
