<div><%= @user_name %> さん</div>

<div>━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>
<p><%= @pair_user_name %> さんとメッセージ交換ができるようになりました！</p>
<div>・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>

<p>お互いのキョウカンした部分についてメッセージしてみましょう！</p>
<p>☆すぐにメッセージを送ると返信率がアップします！</p>
