
  $(".thank").html(`<a href='/messages' class='btn default-btn'>メッセージを送る</a>`);
  $(".good").html(`<button class="disabled-btn">キョウカン済み</button>`)
  $(".other_user").html(`<button class="disabled-btn">キョウカン済み</button>`)
