<%= form_with model: relationship, remote: true do |f| %>
  <div>
    <%= hidden_field_tag :following_id, @user.id %>
    <% if current_user.follower?(@user) %>
      <%= f.submit "ありがとう！", class: 'btn btn-default' %>
    <% else %>
      <%= f.submit "キョウカン", class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>