<main>
  <section id="mainview">
    <div class="catch">
      <h1>ありのままで、つながる。</h1>
      <h2>ストーリーでつながるビジネスライフマッチングサービス</h2>
      <%= link_to  "Facebookではじめる（無料）", user_facebook_omniauth_authorize_path, class: 'btn default-btn' %>
    </div>
    <div class="main-image">
      <img src="../../assets/main-image.png" />
    </div>
    <div class="first-message">
      <p>強い共感で人とつながり、ビジネス、そして人生を前に進める手助けをしたい。</P>
      <p>そんな思いからbaree(ベアー)は生まれました。</p>
      <p>これはただのビジネスライクな出会いを求めるサービスではありません。</p>
      <p>従来のビジネスマッチングアプリでは見えてこない、あなたの仕事や生き方に対する価値観を、<br>bareeには込めることができます。</p>
      <p>このサービスは「ビジネスライフマッチング」と銘打ってますが、相手のビジネススキル以上に、<br>その人の人生（ライフ）に強い共感が得られるという意味を込めています。</p>
      <p>輝かしい経歴やスキルだけではわからない、あなただけのストーリーによって、<br>新しいビジネスと心のつながりを見つけにいきましょう。</p>
    </div>
  </section>
  <section id='usage'>
  </section>
</main>
