<main>
  <section id="mainview">
    <div class="catch">
      <h1>強い共感で人とつながり、人生を前に進める</h1>
      <p></p>
    </div>
    <div class="main-image">
      <img src="../../assets/main-image.jpg" />
    </div>
  </section>
</main>
<footer>
</footer>
