<div><%= @user_name %> さん</div>
<div>・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>
<p><%= @follower_user_name %> さんから新しい「キョウカン」が届きました！</p>
<div>・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>
<p><%= @follower_user_name %> さんが気になったら、「ありがとう！」を返しましょう。</p>
<p>※「ありがとう！」を押してもあなたの「キョウカン」ポイントは減りません。</p>

