  <div class="settings-wrap">
    <div class="settings-title">各種設定</div>
    <div class="settings-content">
      <ul>
        <li class="settings-list">
          <%= link_to "メール通知設定", mail_notification_settings_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to "メールアドレスの変更", email_settings_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to "パスワードの変更", password_settings_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
      </ul>
    </div>
  </div>
