  <div class="settings-wrap">
    <div class="settings-title">各種設定</div>
    <div class="settings-content">
      <ul>
        <li class="settings-list">
          <%= link_to "メール通知設定", mail_notification_settings_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to "メールアドレスの変更", email_settings_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to "お問い合わせ", new_contact_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
      </ul>
    </div>
  </div>
