<div><%= @receive_user.name %> 様</div>

<div>+:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:+</div>
<p><%= @sender_user.name %> 様から新着メッセージが届いています！</p>
<div>+:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:++:-:+:-:+:-:+:-:+:-:+</div>

<p><%= @sender_user.name %> 様はあなたからの返信を待っています。</p>
<p>今すぐ返信しましょう！</p>
