<div><%= @receive_user_name %> さん</div>

<div>・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>
<p><%= @sender_user_name %> さんから新着メッセージが届いています！</p>
<div>・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・━・</div>

<p><%= @sender_user_name %> さんはあなたからの返信を待っています。</p>
<p>今すぐ返信しましょう！</p>
