  <div class="settings-wrap">
    <div class="settings-title">Bareeについて</div>
    <div class="settings-content">
      <ul>
        <li class="settings-list">
          <%= link_to "Bareeからのメッセージ", about_message_from_baree_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
        <li class="settings-list">
          <%= link_to "使い方", about_usage_path %>
          <i class="fas fa-lg fa-angle-right"></i>
        </li>
      </ul>
    </div>
  </div>
