<div class='about-page-wrap'>
  <div class='about-wrap'>
    <h2>ようこそTicklyへ！</h2>
    <%= link_to image_tag('working-people') %>
    <div class='block'>
      <p>はじめまして、ようこそTicklyへ！</p>
      <p>ご登録いただきありがとうございます。</p>
      <p>Ticklyは<span class='main-color'>ストーリーでつながるビジネスライフマッチングサービス</span>です。</p>
      <p>あなたのストーリーに共感するユーザーとマッチングし、</p>
      <p>あなたのビジネスや人生が一歩前進するように願いを込めて作りました。</p>
    </div>
    <div class='block'>
      <p>Ticklyにご登録いただいたあなたも、<span class='main-color'>ストーリーや原体験</span>が必ずあるはずです。</p>
      <p>決して壮大なストーリーを語る必要は全くありません。</p>
      <p>日常のふとしたきっかけで、今こんなことに没頭している、といったことも、</p>
      <p>共感して話してみたいと思う人が必ずいます。</p>
      <p>ですので、良質なマッチングをするためにも、</p>
      <p>あなたがプロフィールにありのままをさらけ出す必要があります。</p>
    </div>
    <div class='block'>
      <p>人は自分自身をよく見せたい、よく思われたいという欲求があります。</p>
      <p>ですが、現代のモノが溢れ、AIにより仕事のあり方が大きく変化している時代で、</p>
      <p>自分の経歴、学歴、肩書で人を惹きつけるのは難しくなっています。</p>
    </div>
    <div class='block'>
      <p>このような時代の中で人を惹きつけるのは、<span class='main-color'>あなた自身のストーリー</span>です。</p>
    </div>
    <div class='block'>
      <p>なぜあなたはその活動をするのか？</p>
      <p>その活動からどんな未来を描いているのか？</p>
      <p>その未来のために今どんなことに取り組んでいるのか？</p>
    </div>
    <div class='block'>
      <p>あなたの魅力は、この一連の流れの中にあります。</p>
    </div>
    <div class='block'>
      <p>日常生活やSNSでは見えてこない、</p>
      <p>あなただけのストーリーで強い共感と心のつながりが生まれ、</p>
      <p>この目まぐるしく変化する時代を楽しみながら生きるきっかけとなりたい。</p>
      <p>その一心で、日々Ticklyの改善に取り組んでいます。</p>
    </div>

    <div class='block'>
      <p>これからも、みなさまの声をいただきながら、</p>
      <p>みなさまのビジネスや人生が一歩前進するように尽力いたしますので、</p>
      <p>今後とも宜しくお願いいたします。</p>
    </div>
    <%= link_to image_tag('people-face') %>
    <div class='btn-wrap'>
      <%= link_to "プロフィールを書いてみる", mypage_edit_path, class: 'btn default-btn' %>
    </div>
    <div class='btn-wrap'>
      <%= link_to "使い方を知りたい方はこちら", about_usage_path %>
    </div>
  </div>
</div>