<div class='about-page-wrap'>
  <div class='usage-wrap'>
    <h2>使い方</h2>
    <div class='block'>
      <h4>１．プロフィールを編集する</h4>
      <p>プロフィールにあなたの思いを込めない限り、良質なマッチングは生まれません。</p>
      <p>あなたの理想のお相手とマッチングするために、ご自身の気持ちとしっかり向き合って、ありのままを記入していきましょう。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 氏名</p>
      <p>Facebookから取得した氏名を表示しています。</p>
      <p>変更したい場合はFacebook上でご変更いただき、再度ログインをお願いします。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 生年月日</p>
      <p>任意項目ではありますが、こちらが未記入ですと年齢で検索されなくなるのでお気をつけ下さい。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ アイコン</p>
      <p>Facebookから取得したアイコンを表示しています。</p>
      <p>変更したい場合はFacebook上でご変更いただき、再度ログインをお願いします。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 会社名</p>
      <p>現在所属されている会社・団体名をご記入下さい。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 肩書き</p>
      <p>現在の職種や具体的な職業名をご記入下さい。</p>
      <p>あなたのことが一番伝わるネーミングで構いません。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ キャッチコピー</p>
      <p>あなたがBareeを利用する上で一番伝えたいことや、キャッチコピーをご記入下さい。</p>
      <p>※会員一覧画面で一番目を引く項目です。</p>
      <p>あなたのプロフィールに興味をもってもらえるように、思いをぎゅっと凝縮させましょう。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ これまでのstory</p>
      <p>簡単な自己紹介、略歴を書きましょう。</p>
      <p>あなたがこれまでどんな人生を歩んできたのか、後の項目で記入する「現在の活動に至った理由（原体験）」につながるように現在の活動も記入していきましょう。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 職業タイプ</p>
      <p>あなたの現在の職種をお選び下さい。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 現在の活動に至った理由（原体験）</p>
      <p>あなたが今の活動に至った理由や至るまでの経緯を、過去の経験や原体験を振り返りながら書きましょう。</p>
      <p>人は相手の輝かしいキャリアではなく、「なぜ」そのような活動をしているかに強い共感を抱きます。</p>
      <p>あなたの思いが少しでも伝わるように、「辛かった」、「大変だった」ことや「弱み」等も踏まえて、ありのままの思いを書いてみて下さい。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 今後実現したいことやビジョン</p>
      <p>過去の経験に基づき、あなたの人生においてのビジョンや使命、今後成し遂げたいことを記入していきましょう。</p>
      <p>前の項目で現在の活動をしている理由を書いたことにより、あなたの今後の目標は、非常に説得力を持たせます。</p>
      <p>過去の経験が今後のビジョンにつながるように書いていただくのをおすすめします。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 現在の活動内容</p>
      <p>原体験やビジョンがあった上で、実際にどんなアクションを取っているかを具体的に記入していきましょう。</p>
      <p>また、どんな人と繋がりたいか入力して、心から繋がれる相手を見つけましょう。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ コミュニケーションの手段</p>
      <p>マッチングした際に、今後どのような手段でコミュニケーションを取りたいかお選び下さい。</p>
      <p>※現在、新型コロナウイルスの影響により、不要不急な外出の自粛が続いているため、オンラインでのコミュニケーションをおすすめいたします。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ bareeの利用目的</p>
      <p>マッチング後にお互いの利用目的に齟齬が発生しないように、ご自身の利用目的をお選び下さい。</p>
    </div>
    <div class='block'>
      <p class='profile-title'>■ 居住地</p>
      <p>現在のあなたのお住いをお選び下さい。</p>
    </div>
    <div class='block'>
      <h4>２．会員をさがす</h4>
      <p>プロフィールが完成したら、早速あなたが共感するユーザーを見つけにいきましょう。</p>
      <p>検索機能も用意してありますので、あなたの好みに合わせて、全国の多種多様な会員から、いち早く辿り着く事ができます。</p>
    </div>
    <div class='block'>
      <h4>３．「キョウカン」を押す</h4>
      <p>お相手のストーリーに共感し、この人と話してみたいと感じたのであれば、「キョウカン」ボタンを押しましょう。</p>
      <p>あなたから「キョウカン」があったことがすぐに伝わります。</p>
      <p>また、「キョウカン」は１日１０回まで押せるようになっています。</p>
    </div>
    <div class='block'>
      <h4>４．マッチング成立！</h4>
      <p>お相手もあなたのストーリーに「キョウカン」そればマッチング成立です！</p>
      <p>早めにメッセージをしてみましょう。</p>
    </div>
    <div class='block'>
      <h4>５．メッセージする</h4>
      <p>最初のメッセージは、ご挨拶と共に「お相手のどんなところに共感したか」を書いてみましょう。</p>
      <p>また、お相手の「コミュニケーションの手段」をご確認の上、今後のアクションを提案していきましょう。</p>
    </div>
    <div class='block'>
      <h4>６．困ったことがあった場合</h4>
      <p>「各種設定」- 「お問い合わせ」より、お気軽にご相談ください。</p>
      <p>会員様のご協力があってはじめてこのサービスは成り立ちます。</p>
      <p>Bareeでも常に会員様の状況を監視しておりますが、もしあなたが不審なユーザー等を発見した際は、お手数ですがご報告をお願いできればと思います。</p>
    </div>
    <div class='block'>
      <h4>７．最後に</h4>
      <p>基本的な使い方は以上でございます。</p>
      <p>あなたがBareeを使っていて、「ここが良かった」といったご意見、Bareeを運営する上で大きな励みになりますのでお待ちしております。</p>
      <p>もちろん「もっとこういう機能がほしいな」といったご要望も大歓迎です。</p>
      <p>多くのストーリーで多くの共感が生まれるように、これからもBareeを大事に育てていきますので、宜しくお願いいたします。</p>
    </div>
    <%= link_to "TOPに戻る", about_usage_path %>
  </div>
</div>