@import "bootstrap";
@import "font-awesome-sprockets";

@import "common";

@import "font-awesome";
@import "users/sign_up";
@import "users/sign_in";
@import "users";
@import "users/show";
@import "users/edit";
@import "messages";
@import "matching";
@import "welcome";

body {
  background: #E5F6FF;

  header {
    background-color: #fff;
    border-bottom: 1px solid #e9eef1;
    margin: 0 auto;
    padding: 10px 10px 5px;
    display: flex;

    #logo {
      width: 220px;
      margin-top: -2px;

      img {
        width: 100px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin-top: 5px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        color: #007FBD;
        margin-right: 30px;
        font-size: 1rem;
        font-weight: 700;

        a {
          &:hover {
            text-decoration: none;
          }  
        }

        .circle-badge {
          color: red;
          position: absolute;
        }
      }
    }

    .popover-icon {
      margin-left: auto;
      background: none;
      color: none;
      border: none;
      padding: 0;
      outline: none;
      cursor: pointer;

      .header-user-img {
        margin-left: auto;
        margin-right: 10px;
        
        img {
          border-radius: 50%;
          border: 1px #707070 solid;
          width: 40px;
          height: 40px;  
        }
      }
    }
  }

  .popover {

    .popover-body {

      .popper-ul {
        list-style: none;
        padding: 10px 20px;

        .popper-li {
          font-weight: bold;
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0;
          }

          a {
            color: #24282A;
          }
        }
      }
    }
  }


  .alert {
    text-align:center;
    padding:10px;
    display: block;
  }

  .alert.alert_error {
    color: #ff4d44;
    background: #ffd4d2;
  }
  
  .alert_error_title {
    color: #ff4d44;
    background: #ffd4d2;
    margin: 0 0 15px 0;
  }
  
  .alert.alert_warning {
    color: #f0ad4e;
    background: #fcf8e3;
  }
  .alert.alert_info {
    color: #337ab7;
    background: #d9edf7;
  }
  .alert.alert_success {
    color: #5cb85c;
    background: #dff0d8;
  }
  
}