@import "bootstrap";
@import "font-awesome-sprockets";

@import "font-awesome";
@import "users/sign_up";
@import "users/sign_in";
@import "users";
@import "users/profile";
@import "messages";
@import "users-page-switch";
@import "welcome";
@import "mypage/myprofile";
@import "mypage/mypage-edit";
@import "settings";
@import "spinkit.min";

body {
  background: #F2F5F7;

  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;

    @media only screen and (max-width: 480px) {
      overflow: hidden;
    }
  
  }

  .pc-header {
    background-color: #fff;
    border-bottom: 1px solid #e9eef1;
    // margin: 0 auto;
    padding: 10px 10px 5px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    @media only screen and (max-width: 480px) {
      display: none;
    }  

    #logo {
      width: 220px;
      margin-top: -2px;

      img {
        width: 100px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin-top: 5px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        color: #007FBD;
        margin-right: 30px;
        font-size: 1rem;
        font-weight: 700;

        a {
          &:hover {
            text-decoration: none;
          }  
        }

        .circle-badge {
          color: red;
          position: absolute;
        }
      }
    }

    .popover-icon {
      margin-left: auto;
      background: none;
      color: none;
      border: none;
      padding: 0;
      outline: none;
      cursor: pointer;

      .header-user-img {
        margin-left: auto;
        margin-right: 10px;
        
        img {
          border-radius: 50%;
          border: 1px #707070 solid;
          width: 40px;
          height: 40px;  

          &:hover {
            filter: brightness(80%);
            transition-duration: 0.3s;
          }  
        }
      }
    }
  }

  .sp-header {
    display: none;
    background: #fff;
    border-bottom: 1px solid #e9eef1;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    @media only screen and (max-width: 480px) {
      display: block;
    }

    .inner {
      padding: 5px 0 0;
      display: flex;
      align-items: center;

      .item {
        padding: 10px 20px;

        a {
          color: #9B9B9B;
        }
        .circle-badge {
          color: red;
          position: absolute;
        }

      }

      .popover-icon {
        margin-left: auto;
        background: none;
        color: none;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;
  
        .header-user-img {
          margin-left: auto;
          margin-right: 10px;
          
          img {
            border-radius: 50%;
            border: 1px #707070 solid;
            width: 40px;
            height: 40px;  
  
            &:hover {
              filter: brightness(80%);
              transition-duration: 0.3s;
            }  
          }
        }
      }  

      
    }
  }

  .popover {
    @media only screen and (max-width: 480px) {
      left: -90px !important;
    }

    .arrow {
      @media only screen and (max-width: 480px) {
        left: 175px !important;
      }
    }

    .popover-body {

      .popper-ul {
        list-style: none;
        padding: 10px 20px;

        .popper-li {
          font-weight: bold;
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0;
          }

          a {
            color: #24282A;
          }

          .today-balance-count {
            color: #007FBD;
            font-size: 18px;
          }
        }
      }
    }
  }


  .alert {
    text-align:center;
    padding:10px;
    display: block;
  }

  .alert.alert_error {
    color: #ff4d44;
    background: #ffd4d2;
  }
  
  .alert_error_title {
    color: #ff4d44;
    background: #ffd4d2;
    margin: 0 0 15px 0;
  }
  
  .alert.alert_warning {
    color: #f0ad4e;
    background: #fcf8e3;
  }
  .alert.alert_info {
    color: #337ab7;
    background: #d9edf7;
  }
  .alert.alert_success {
    color: #5cb85c;
    background: #dff0d8;
  }
  
  footer {
    background-color: #fff;
    border-top: 1px solid #e9eef1;
    // margin: 0 auto;
    padding: 10px 20px 20px;
    margin-top: auto;
    font-size: 13px;
    color: #007FBD;

    .fotter-inner {
      display: flex;
      width: 1200px;
      margin: 0 auto;
      padding: 22px 0;
      flex-wrap: wrap;

      ul {
        list-style: none;
        padding: 0;

        li {
          line-height: 30px;
        }
      }
    }

    .copyright {
      text-align: center;
    }
  }
}