.terms-page-wrap,.privacy-page-wrap {
  padding: 50px 0;
  color: #24282A;

  @media only screen and (max-width: 480px) {
    padding: 20px 0;
  }

  .wrap {
    width: 940px;
    background-color: #fff;
    border-radius: 13px;
    margin: 0 auto;
    padding: 50px;
    text-align: left;

    @media only screen and (max-width: 480px) {
      width: 350px;
      padding: 20px 10px;
    }

    @media only screen and (max-width: 320px) {
      width: 290px;
    }

    h2 {
      color: #007FBD;
      padding-bottom: 50px;
      font-weight: bold;

      @media only screen and (max-width: 480px) {
        font-size: 27px;
      }
    }

    .block {
      padding-bottom: 30px;

      .main-color {
        color: #007FBD;
      }
    }
  }
}