// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users-page-inner {
  background-color: #E5F6FF;
  display: flex;

  .box-wrap {
    display: flex;
    margin: 0 auto;
    padding: 60px 0;
  
    .search-box {
      margin-right: 50px;
      height: 600px;
      width: 290px;

      .search-box-inner {
        padding: 0 20px 20px;

        h4 {
          color: #24282A;
          font-size: 15px;
          font-weight: 600;
          padding-bottom: 15px;
        }

        .keyword-area {
          width: 250px;
          height: 32px;
          border-radius: 31px;
          background: #fff;
          // border: 1px solid #707070;
          border: 1px solid #ddd;
          padding: 0 10px;
        }

        .search-form {
          padding-bottom: 15px;

          select {
            background: #fff;
            background-image: url('angle-down-solid.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size:25px 25px;
            vertical-align: middle;
            color: inherit;
            height: 40px;
            padding-left: 10px;
            border: 1px solid #ddd;
            font-size: 12px;
            width: 100%;
            border-radius: 3px;
            position: relative;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }  
          
          label {
            color: #24282A;
            font-weight: bold;
            font-size: 15px;
          }
        }

        .search-age-form {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          #search_min_age, #search_max_age {
            width: 40%;
          }
  
          .range-space {
            font-size: 12px;
            font-weight: bold;
            padding: 0 20px;
          }  
        }

        .btn-wrap {
          padding-top: 20px;
    
          .default-btn {
            font-size: 20px;
            color: #fff;
            width: 100%;
            height: 40px;
            border-radius: 52px;
            background: #007fbd;
    
            &:hover {
              text-decoration: none;
              background-color: #fff;
              border-color: #007fbd;
              color: #007fbd;
            }  
          }
        }
      }
    }
  
    .user-list-box {
      width: 600px;
      a {
        &:hover {
          text-decoration: none;
        }  
      }

      .user-card {
        border-radius: 13px;
        width: 600px;
        height: 200px;
        background-color: #fff;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        color: #24282A;
        font-weight: bold;
        &:hover {
          box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
          transform: translateY(-10px);
          transition-duration: 0.5s;
        }  

        .user-card-img {
          img {
            border-radius: 50%;
            border: 1px #707070 solid;
            width: 100px;
            height: 100px;
          }
        }

        .right-area {
          padding-left: 10px;

          .name-age {
            display: flex;
            padding-bottom: 10px;

            .user-name {
              padding-right: 20px;
            }
          }

          .user-company-name {
            padding-bottom: 5px;
          }

          .user-occupation {
            padding-bottom: 10px;
          }

          .user-catch-copy {
            color: #007fbd;
            font-size: 18px;
          }
        }
      }

      .pagination-wrap {
        text-align: center;
        
        .pagination {
          display: inline-flex;

          li {
            display: inline-block;
            
            a {
              color: #24282A;
            }
          }

          .active {
            background: #007FBD;
            border-radius: 45px;

            a {
              color: #fff;
            }
          }

          .prev {
            border-radius: 40px 0 0 40px;
            padding-left: 15px;
            width: 45px;
          }

          .next {
            border-radius: 0 40px 40px 0;
            width: 45px;
          }
        }
      }
    }
  }
}
