.switch-user-page {
  margin: 0 auto;
  width: 600px;
  padding: 20px 0;


  .page-title {
    color: #007FBD;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .page-switches {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    display: flex;
    font-weight: bold;
    position: relative;

    .circle-badge {
      color: red;
      position: absolute;
    }

    .right-circle-badge {
      color: red;
      position: absolute;
      right: 0px;
    }

    .left-link {
      border-radius: 6px 0 0 6px;
      color: #007fbd;
      background-color: rgba(0,0,0,0.05);
      width: 50%;
      height: 30px;
      line-height: 30px;

      &:hover {
        text-decoration: none;
      }  
    }

    .right-link {
      border-radius: 52px;
      display: inline-block;
      border-radius: 0px 6px 6px 0px;
      width: 50%;
      height: 30px;
      line-height: 2;
      color: #007fbd;
      font-size: 1.1em;
      background-color: rgba(0,0,0,0.05);
      height: 30px;
      line-height: 30px;
      
      &:hover {
        text-decoration: none;
      }  
    }

    .active {
      color: #fff;
      background-color: #007fbd;
    }
  }

  .user-list-box {
    width: 600px;
    a {
      &:hover {
        text-decoration: none;
      }  
    }

    .user-card {
      border-radius: 13px;
      width: 600px;
      height: 200px;
      background-color: #fff;
      margin-bottom: 30px;
      padding: 20px;
      display: flex;
      color: #24282A;
      font-weight: bold;
      &:hover {
        opacity: .8;
      }  

      .user-card-img {
        img {
          border-radius: 50%;
          border: 1px #707070 solid;
          width: 100px;
          height: 100px;
        }
      }

      .right-area {
        padding-left: 10px;
        width: 506px;

        .first-topic-area {
          display: flex;
          justify-content: space-between;

          .name-age {
            display: flex;
            padding-bottom: 10px;
  
            .user-name {
              padding-right: 20px;
            }
          }  

          .icon-time {
            display: flex;

            .user-new-icon {
              width: 50px;
              height: 24px;
              background: #f71515;
              border-radius: 50px;
              color: #fff;
              text-align: center;
            }
  
            .user-relation-time {
              padding-left: 10px;
              color: #9B9B9B;
              font-size: 14px;
            }
          }
        }

        .user-company-name {
          padding-bottom: 5px;
        }

        .user-occupation {
          padding-bottom: 10px;
        }

        .user-catch-copy {
          color: #007fbd;
          font-size: 18px;
        }
      }
    }

    .messages-card {
      height: 100px;
      padding: 10px;

      .user-card-img {
        img {
          width: 70px;
          height: 70px;
        }
      }

      .message-name-age {
        font-size: 15px;
        padding-bottom: 5px;
        display: flex;

        .user-name {
          padding-right: 20px;
        }
      }

      .user-company-name {
        font-size: 15px;
        font-weight: normal;
      }

      .message-content {
        font-size: 12px;
        color: rgba(0,0,0,0.28);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .blank-data {
      text-align: center;
      padding: 50px 0;
    }
  }
}