.switch-user-page {
  margin: 0 auto;
  width: 600px;
  padding: 20px 0;

  @media only screen and (max-width: 480px) {
    width: 375px;
    padding: 20px 10px;
  }

  @media only screen and (max-width: 320px) {
    width: 290px;
    padding: 20px 0;
  }

  .page-title {
    color: #007FBD;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .page-switches {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    display: flex;
    font-weight: bold;
    position: relative;

    @media only screen and (max-width: 480px) {
      width: 350px;
    }

    @media only screen and (max-width: 320px) {
      width: 290px;
    }

    .circle-badge {
      color: red;
      position: absolute;
    }

    .right-circle-badge {
      color: red;
      position: absolute;
      right: 0px;
    }

    .left-link {
      border-radius: 6px 0 0 6px;
      color: #007fbd;
      background-color: rgba(0,0,0,0.05);
      width: 50%;
      height: 30px;
      line-height: 30px;

      &:hover {
        text-decoration: none;
      }  
    }

    .right-link {
      border-radius: 52px;
      display: inline-block;
      border-radius: 0px 6px 6px 0px;
      width: 50%;
      height: 30px;
      line-height: 2;
      color: #007fbd;
      font-size: 1.1em;
      background-color: rgba(0,0,0,0.05);
      height: 30px;
      line-height: 30px;
      
      &:hover {
        text-decoration: none;
      }  
    }

    .active {
      color: #fff;
      background-color: #007fbd;
    }
  }

  .user-list-box {
    width: 600px;
    a {
      &:hover {
        text-decoration: none;
      }  
    }

    @media only screen and (max-width: 480px) {
      width: 350px;
    }

    @media only screen and (max-width: 320px) {
      width: 290px;
    }  

    .user-card {
      border-radius: 13px;
      width: 600px;
      height: 200px;
      background-color: #fff;
      margin-bottom: 30px;
      padding: 20px;
      color: #24282A;
      font-weight: bold;
      display: block;
      position: relative;

      &:hover {
        filter: brightness(80%);
        transition-duration: 0.3s;
      }  

      @media only screen and (max-width: 480px) {
        width: 350px;
        height: 200px;
      }

      @media only screen and (max-width: 320px) {
        width: 290px;
        height: 200px;
      } 
      
      .ribbon {  
        display: inline-block;
        position: absolute;
        top: -6px;
        right: 568px;
        margin: 0;
        padding: 10px 0 7px;
        z-index: 2;
        width: 40px;
        text-align: center;
        color: white;
        font-size: 13px;
        background: #f05a69;
        border-radius: 2px 0 0 0;

        @media only screen and (max-width: 480px) {
          right: 313px;
          padding: 5px 0 3px;
          width: 36px;
        }  

        @media only screen and (max-width: 320px) {
          right: 253px;
        }   

        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: -5px;
          border: none;
          border-bottom: solid 6px #d07676;
          border-right: solid 5px transparent;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          height: 0;
          width: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 10px solid #f05a69;

          @media only screen and (max-width: 480px) {
            border-left: 16px solid transparent;
          }    
        }
      }

      .top-area {
        display: flex;

        .user-card-img {
          img {
            border-radius: 50%;
            border: 1px #707070 solid;
            width: 100px;
            height: 100px;

            @media only screen and (max-width: 480px) {
              width: 70px;
              height: 70px;
            }
          }
        }

        .right-area {
          padding: 0 10px;
          width: 480px;

          @media only screen and (max-width: 480px) {
            width: 260px;
          }

          @media only screen and (max-width: 320px) {
            width: 200px;
          }

          .first-topic-area {
            display: flex;
            justify-content: space-between;

            .name-age {
              display: flex;
              padding-bottom: 10px;
              font-size: 16px;

              @media only screen and (max-width: 320px) {
                font-size: 14px;
              }
    
              .user-name {
                padding-right: 20px;
              }
            }  

            .icon-time {
              display: flex;

              .user-new-icon {
                width: 50px;
                height: 24px;
                background: #f71515;
                border-radius: 50px;
                color: #fff;
                text-align: center;

                @media only screen and (max-width: 320px) {
                  width: 36px;
                  height: 18px;
                  font-size: 12px;
                }      
              }
    
              .user-relation-time {
                padding-left: 10px;
                color: #9B9B9B;
                font-size: 14px;

                @media only screen and (max-width: 320px) {
                  font-size: 11px;
                }      
              }
            }
          }

          .user-company-name {
            padding-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen and (max-width: 480px) {
              font-weight: nomal;
              font-size: 13px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            @media only screen and (max-width: 320px) {
              font-weight: nomal;
              font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .user-occupation {
            padding-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen and (max-width: 480px) {
              font-weight: nomal;
              font-size: 13px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            @media only screen and (max-width: 320px) {
              font-weight: nomal;
              font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .user-catch-copy {
        padding-top: 5px;
        color: #007fbd;
        font-size: 18px;

        @media only screen and (max-width: 480px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 320px) {
          font-size: 15px;
        }
      }
    }

    .pagination-wrap {
      display: none;
    }

    // .pagination-wrap {
    //   text-align: center;
      
    //   .pagination {
    //     display: inline-flex;

    //     li {
    //       display: inline-block;
          
    //       a {
    //         color: #24282A;
    //       }
    //     }

    //     .active {
    //       background: #007FBD;
    //       border-radius: 45px;

    //       a {
    //         color: #fff;
    //       }
    //     }

    //     .prev {
    //       border-radius: 40px 0 0 40px;
    //       padding-left: 15px;
    //       width: 45px;
    //     }

    //     .next {
    //       border-radius: 0 40px 40px 0;
    //       width: 45px;
    //     }
    //   }
    // }

    .user-card.messages-card {
      height: 90px;
      padding: 10px;
      margin-bottom: 10px;

      @media only screen and (max-width: 320px) {
        width: 290px;
      }

      .user-card-img {
        img {
          width: 70px;
          height: 70px;

          @media only screen and (max-width: 480px) {
            width: 60px;
            height: 60px;
          }

          @media only screen and (max-width: 320px) {
            width: 40px;
            height: 40px;
          }
        }
      }

      .right-area {
        width: 520px;

        @media only screen and (max-width: 480px) {
          width: 280px;
        }

        @media only screen and (max-width: 320px) {
          width: 240px;
        }
      }

      .message-name-age {
        font-size: 15px;
        padding-bottom: 5px;
        display: flex;

        @media only screen and (max-width: 320px) {
          font-size: 13px;
        }

        .user-name {
          padding-right: 20px;

          @media only screen and (max-width: 320px) {
            padding-right: 5px;
          }
        }
      }

      .icon-time {

        .user-relation-time {
          @media only screen and (max-width: 320px) {
            font-size: 11px;
          }
        }
      }

      .user-company-name {
        font-size: 15px;
        font-weight: normal;
      }

      .content-wrap {
        display: flex;
        justify-content:space-between;

        .message-content {
          font-size: 12px;
          color: rgba(0,0,0,0.28);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media only screen and (max-width: 480px) {
            width: 350px;
          }
  
          @media only screen and (max-width: 320px) {
            font-size: 11px;
            width: 660px;
          }
        }

        .user-new-icon {
          width: 50px;
          color: #f05a69;
          text-align: center;
          font-size: 15px;
          font-weight: bold;
          margin-left: 10px;
          margin-right: 5px;

          @media only screen and (max-width: 320px) {
            width: 100px;
            height: 18px;
            font-size: 12px;
          }      
        }
  
      }

    }

    .blank-data {
      text-align: center;
      padding: 50px 0;
    }
  }
}