// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users-page-inner {
  display: flex;

  .box-wrap {
    display: flex;
    margin: 0 auto;
    padding: 60px 0;

    @media only screen and (max-width: 480px) {
      padding: 20px 0;
      display: block  
    }

    @media only screen and (max-width: 320px) {
      width: 290px;
    }
  
    .search-box {
      margin-right: 50px;
      width: 290px;
      @media only screen and (max-width: 480px) {
        margin-right: 0;
        width: 100%;
      }  

      .search-box-inner {
        padding: 0 20px 20px;

        @media only screen and (max-width: 480px) {
          padding: 0 0px 30px;
        }    

        h4 {
          color: #24282A;
          font-size: 15px;
          font-weight: 600;
          padding-bottom: 15px;

          @media only screen and (max-width: 480px) {
            display: none;
          }  
        }

        .keyword-area {
          width: 250px;
          height: 32px;
          border-radius: 31px;
          background: #fff;
          border: 1px solid #ddd;
          padding: 0 10px;

          @media only screen and (max-width: 480px) {
            width: 100%;
          }  
        }

        .sp-toggle-form {
          @media only screen and (max-width: 480px) {
            display: none;
          }  
        }

        .sp-toggle-button {
          cursor: pointer;
          padding: 5px;
          opacity: .6;
          transition: .3s;
          display: none;
          text-align: center;
          color: #007FBD;
    
          &:after {
            content: '更に詳しく検索';
            padding-left: 10px;
          } 

          @media only screen and (max-width: 480px) {
            display: block;
          }  

        }

        .search-form {
          padding-bottom: 15px;

          select {
            background: #fff;
            background-image: image-url("angle-down-solid.svg");
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size:25px 25px;
            vertical-align: middle;
            color: inherit;
            height: 40px;
            padding-left: 10px;
            border: 1px solid #ddd;
            font-size: 12px;
            width: 100%;
            border-radius: 3px;
            position: relative;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }  
          
          label {
            color: #24282A;
            font-weight: bold;
            font-size: 15px;
          }
        }

        .search-age-form {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          #search_min_age, #search_max_age {
            width: 40%;
          }
  
          .range-space {
            font-size: 12px;
            font-weight: bold;
            padding: 0 20px;
          }  
        }

        .btn-wrap {
          padding-top: 20px;
    
          .default-btn {
            font-size: 20px;
            color: #fff;
            width: 100%;
            height: 40px;
            border-radius: 52px;
            background: #007fbd;

            @media screen and (min-width: 481px) {
              &:hover {
                filter: brightness(80%);
                transition-duration: 0.3s;
              }  
            }    
          }
        }
      }
    }
  
    .user-list-box {
      width: 600px;
      a {
        &:hover {
          text-decoration: none;
        }  
      }

      @media only screen and (max-width: 480px) {
        width: 350px;
      }

      @media only screen and (max-width: 320px) {
        width: 290px;
      } 

      .user-card {
        border-radius: 13px;
        width: 600px;
        height: 200px;
        background-color: #fff;
        margin-bottom: 30px;
        padding: 20px;
        color: #24282A;
        font-weight: bold;

        @media screen and (min-width: 481px) {
          &:hover {
            filter: brightness(80%);
            transition-duration: 0.3s;
          }  
        }

        @media only screen and (max-width: 480px) {
          width: 350px;
          height: 200px;
        }

        @media only screen and (max-width: 320px) {
          width: 290px;
          height: 200px;
        }    

        .top-area {
          display: flex;

          .user-card-img {
            img {
              border-radius: 50%;
              border: 1px #707070 solid;
              width: 100px;
              height: 100px;

              @media only screen and (max-width: 480px) {
                width: 70px;
                height: 70px;
              }  
            }
          }

          .right-area {
            padding: 0 10px;
            width: 480px;

            @media only screen and (max-width: 480px) {
              width: 260px;
            }  

            @media only screen and (max-width: 320px) {
              width: 200px;
            }

            .name-age {
              display: flex;
              padding-bottom: 10px;
              font-size: 16px;

              @media only screen and (max-width: 320px) {
                font-size: 14px;
              }

              .user-name {
                padding-right: 10px;
              }
            }

            .user-company-name {
              padding-bottom: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;  

              @media only screen and (max-width: 480px) {
                font-weight: nomal;
                font-size: 13px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }  

              @media only screen and (max-width: 320px) {
                font-weight: nomal;
                font-size: 11px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }  
            }

            .user-occupation {
              padding-bottom: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;  

              @media only screen and (max-width: 480px) {
                font-weight: nomal;
                font-size: 13px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }  

              @media only screen and (max-width: 320px) {
                font-weight: nomal;
                font-size: 11px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }  
            }
          }
        }

        .user-catch-copy {
          padding-top: 5px;
          color: #007fbd;
          font-size: 18px;

          @media only screen and (max-width: 480px) {
            font-size: 16px;
          }  

          @media only screen and (max-width: 320px) {
            font-size: 15px;
          }  
        }
      }

      .pagination-wrap {
        display: none;
      }

      .sk-chase {
        margin: 0 auto;
      }

      // .pagination-wrap {
      //   text-align: center;
        
      //   .pagination {
      //     display: inline-flex;

      //     li {
      //       display: inline-block;
            
      //       a {
      //         color: #24282A;
      //       }
      //     }

      //     .active {
      //       background: #007FBD;
      //       border-radius: 45px;

      //       a {
      //         color: #fff;
      //       }
      //     }

      //     .prev {
      //       border-radius: 40px 0 0 40px;
      //       padding-left: 15px;
      //       width: 45px;
      //     }

      //     .next {
      //       border-radius: 0 40px 40px 0;
      //       width: 45px;
      //     }
      //   }
      // }

      .blank-data {
        text-align: center;
        padding: 50px 0;
      }
    }
  }
}
