$main-color: #fd5068;
$main-text-color: #fff;

.userEditPage {
  .header {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }

  .user-edit-section {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #fff;

    .user-edit-category {
      border-bottom: 1px solid #cccccc;
      color: #333;
      cursor: pointer;
      font-size: 12px;
      padding: 10px 15px;
      margin-bottom: -1px;

      .fa-angle-down {
        float: right;
      }
    }

    .user-edit-list-none {
      display: none;

      .user-edit-list-inner {
        padding: 15px;
        list-style: none;
      }
    }
  }

  select {
    background: #fff;
    background-image: url('angle-down-solid.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size:25px 25px;
    vertical-align: middle;
    color: inherit;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ddd;
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .communication-method-area {
    width: 300px;
  }
  .submitBtn {
    background: $main-color;
    color: $main-text-color;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}